# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.env

easysh.egg-info/
build/

# Configuration files
*.config
*.ini

# OS files
.DS_Store
Thumbs.db
